
body{
	background: #2b2b2b;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4{
	text-transform: none;
}

.reveal h1{
	font-size: 2.5em;
}

.reveal section img{
	background: transparent;
	border: none;
	box-shadow: none;
}
.reveal .slide-background.present{
	opacity: 0.4
}

.reveal small{
	font-size: 0.8em;
}

.reveal ul li{
	line-height: 1.5em;
}

.reveal ul small{
	font-size: .6em;
	vertical-align: middle;
	color: #aaa;
}